<% if current_user %>
  <div id="users">
  Existing Users:<br>
  <% if @users.count > 0 %>
    <% @users.each do |user| %>
      <%= user.email %><br>
    <% end %><br>
  <% else %>
    There are no existing users. Create a new user to get started!<br>
  <% end %><br>
  </div>
<% end %>

<% if current_user %>
  <div id="logout-button">
  <%= button_to("Logout", '/sessions', method: :delete) %>
  </div>
<% else %>
  <div id="login-button">
  <%= button_to("Login", '/login', method: :get) %>
  </div>

  <div id="new-user-button">
  <%= button_to("Create a New User", '/register', method: :get) %>
  </div>
<% end %>

